* {
    box-sizing: border-box;
    font-family: 'Century Gothic';
    margin : 0;
  }

header {
    padding: 0.3rem;
    box-shadow: 0 0.3rem 8px rgba(14, 102, 90, 0.2);
}

.flexbox {
    display: flex;
}

.logo {
    width: 40%;
    height: auto;
    float: left;
}

#menu {
    width: 60%;
    margin: 1%;
    float:right;
    justify-content: end;
    align-items: center;
}

#menu > p {
    margin: 2%;
    font-size: large;
}

#menu > p:hover {
    font-size: large;
    color: #0E675B;
    text-decoration: underline;
    text-underline-offset: 1rem;
}



